.navbar-top {
    background-color: rgba(5, 21, 64, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2.5rem;
}

.logo-fig-wrap {
    width: 5rem;
    height: 2em;
    margin: 0%;
    padding-left: 0.5em;
}

.logo-fig-wrap .logo-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: contain;
}