.navbar-top {
    background-color: #051540;
    padding: 24px 40px;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-fig-wrap {
    width: 120px;
    margin: 0;
}

.logo-thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .navbar-top {
        padding: 20px;
        justify-content: center;
    }
}